.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;

  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }

  &__header-info {
    flex: 1;
    margin-left: 0.5rem;
  }

  &__body {
    position: relative;
    flex: 1;
    padding: 20px;
    background: url('/chat-background.jpg') no-repeat center;
    background-size: cover;
    overflow-y: auto;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__body-messages {
    position: relative;
    list-style-type: none;
  }

  &__body-message {
    clear: both;
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--text-right {
      float: right;
    }
  }

  &__body-name {
    font-size: 0.875rem;
    color: #fff;
  }
  
  &__body-text {
    width: fit-content;
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem;

    &--highlight {
      background-color: #bbbaba;
    }
  }

  &__body-timestamp {
    font-size: 0.625rem;
    color: #f1f1f1;
  }

  &__footer {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    grid-gap: 0.5rem;
    padding: 8px
  }

  &__footer-comment-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    padding: 0.25rem 0.5rem;
  }

  &__footer-comment-input {
    flex: 1;
    border: none;
    outline-width: 0;
  }

  &__footer-send-btn {
    border: none;
    outline: none;
    color: #aaa;
    background-color: transparent;
  }
}